.links {
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin: 15px;
    border-radius: 8%;
}

.links:hover {
  background-color: whitesmoke;
  color: black;
}

.notes-card {
  border: 2px solid rgb(210, 210, 210);
  color: black;
  background-color: rgb(178, 178, 178);
  margin: 16px;
  padding: 2px 8px;
  border-radius: 4px;
}